tr
 td(style='align-items:center;justify-content:center;background-color:#035172;height:92px;width:100%;')
        h1(style='font-weight: 600;')
            p(style='color:#FFF;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:24px;text-align:center;letter-spacing:2px') EVENTCIRCLE