<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Event Published</title>
  </head>
  <body>
    <div
      style="display: flex; flex-direction: column; gap: 12px; font-size: 14px; font-family: sans-serif;"
    >
      <h2>
        <b>Hello {{username}}</b>
      </h2>
      <br />
      <p>
        You have a new message from a user.

        <br />
        Below are the details:
      </p>
      <div>
        <p>
          <b>Name:</b>
         
        </p>
        <p> Name</p>
        <p>
          <b>Email:</b>
          
        </p>
        <p>boss@gmail.com</p>
        <p>
          <b>Phone</b>
         
        </p>
        <p>08132030908</p>
        <p>
          <b>Message:</b>
         
        </p>
        <p>Message</p>
       
      </div>

      <div>
        <p>Submitted 10:24PM - 10 August, 2023</p>

       <div style="display: flex;gap: 10px;align-items: center;"><img src="/images/Login.png" height="50px" width="50px"/> <p style="font-size: 30px;">EventCircle</p></div> 
      </div>

      
      
    </div>
  </body>
</html>
